<a href="https://colab.research.google.com/github/cinnData/DataSci-Summer/blob/main/Notebooks/amzn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [DS-09] Example - Amazon jobs

### Importing the data

In [ ]:
import pandas as pd
path = 'https://raw.githubusercontent.com/mikecinnamon/DataSci/main/Data/'
filename = path + 'amzn.csv.zip'
df = pd.read_csv(filename, index_col=0)

### Exploring the data

In [ ]:
df.info()

In [ ]:
df.head()

### Q1. Count and drop duplicates

In [ ]:
df.duplicated().sum()

In [ ]:
df.index.duplicated().sum()

In [ ]:
df = df.drop_duplicates()
df.shape

### Q2. Top-ten locations for software developers at Amazon

In [ ]:
df['location'].value_counts().shape

In [ ]:
df['location'].value_counts().head(10)

### Q3. Positions in India

In [ ]:
df['location'][df['location'].str[:2] == 'IN'].value_counts()

In [ ]:
df['location'][df['location'].str.contains('^IN', regex=True)].value_counts()

### Q4. Programming languages in the basic qualifications field

In [ ]:
df['basic_qualifications'].str.contains('c#', case=False).mean().round(3)

In [ ]:
df['basic_qualifications'].str.contains('c+', case=False, regex=False).mean().round(3)

In [ ]:
df['basic_qualifications'].str.contains('c\+', case=False).mean().round(3)

In [ ]:
df['basic_qualifications'].str.contains('c+', case=False).mean().round(3)